.HeaderContainer {
    display: flex;
    justify-content: space-around;
  }
  .LogoContainer {
    display: flex;
  }
  .LogoContainer img {
    height: auto;
    width: 42px;
  }
  .LogoContainer h1 {
    font-family: Georgia, Times New Roman, Times, serif;
  }
  .nav__menu {
    max-width: 500px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav-link a {
    text-decoration: none;
    color: rgb(35, 161, 35);
  }
  .nav-link {
    margin-right: 20px;
    margin-top: 20px;
    list-style: none;
  }
  .getStart {
    margin-top: 10px;
    border: 1px solid rgb(35, 161, 35);
    border-radius: 32px;
    padding: 10px;
  }
  
  .MuiPaper-root{
    margin-top: 15px;
  }